vendor
composer.lock
.vscode/settings.json
writable/debugbar/*.json
*.log
.env
writable/cache/startci_models_create
db.sqlite
writable/db.sqlite
docker/mysql/*
docker/postgres/*
.DS_Store
.DS_Store
app/.DS_Store
