<IfModule mod_rewrite.c>
Options +FollowSymlinks
 RewriteEngine on
 RewriteBase /
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]
 RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.
	ErrorDocument 404 index.php
</IfModule>
php_value max_execution_time 0
php_value post_max_size 0
php_value upload_max_filesize 0
php_flag display_errors on

php_value xdebug.mode debug